<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/linked-list-style.css">
    <title>Linked List</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <!-- Logo Team -->
            <div id="team-icon-logo" class="logo-container">
                <img src="../statics/images/team-logo.png" alt="Team 4 Icon" />
            </div>
            <!-- Navigation Links -->
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/works">WORKS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!-- GitHub Icon -->
            <div id="github-logo" class="logo-container">
                <img src="../statics/images/github-icon.png" alt="GitHub Icon" />
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        <section class="linked-list-simulator">
            <div class="container">
                <br>
                <div class="linked-list-text">
                <h1>Linked List Simulator</h1>
                </div>

                <!-- Output Box -->
                <div class="output-box"></div>
                   
                </div>
                
                <!-- Input Container -->
                <div class="input-container">
                    <input type="text" id="inputData" placeholder="Type here...">
                    <div class="buttons">
                        <!-- Add Dropdown -->
                        <div class="dropdown">
                            <button class="btn dropdown-btn" onclick="toggleDropdown()" id="dropdown-add">
                                <p id="add-button-text">Add</p>
                            </button>
                            <div id="addDropdown" class="dropdown-content">
                                <button class="btn" id="addAtBeginning" onclick="addAtBeginning()">at Beginning</button>
                                <button class="btn" id="addAtEnd" onclick="addAtEnd()">at End</button>
                            </div>
                        </div>

                        <!-- Delete Dropdown -->
                        <div class="dropdown">
                            <button class="btn dropdown-btn" onclick="toggleDeleteDropdown()" id="dropdown-del">
                                <p id="delete-button-text">Delete</p>
                            </button>
                            <div id="deleteDropdown" class="dropdown-content delete">
                                <button class="btn" id="deleteAtBeginning" onclick="deleteFromBeginning()">at Beginning</button>
                                <button class="btn" id="deleteAtEnd" onclick="deleteFromEnd()">at End</button>
                            </div>
                        </div>


                        <!-- Search Button -->
                        <button class="btn" onclick="search()">Search</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Link to external JS file -->
    <script src="../static/scripts/linked-list-script.js"></script>
</body>
</html>
