/*
* This file is used to style the index page
*/

body{
    height:360vh;
    background: #E2B2E5 url(../images/Home\ Page\(1\).png) repeat center/cover;
    color: black;
    overflow-x: hidden;
    position: relative;
}

main {
    position: relative;
    z-index: 1;
}

/* Bubbles */
.bubbles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 35px;
    height: 35px;
    left: 85%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    width: 28px;
    height: 28px;
    left: 92%;
    animation-duration: 6s;
    animation-delay: 4s;
}

.bubble:nth-child(9) {
    width: 42px;
    height: 42px;
    left: 15%;
    animation-duration: 9s;
    animation-delay: 2s;
}

.bubble:nth-child(10) {
    width: 38px;
    height: 38px;
    left: 45%;
    animation-duration: 7s;
    animation-delay: 5s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px, -500px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}




/* Ellipses designs */
.ellipses-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

.ellipses-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
}

.ellipse.large {
    width: 825px;
    height: 825px;
    background: linear-gradient( 135deg, #883DB9 5%, #9643AC 22%, #AE4D94 48%, #D75E6D 100% );
    border: 1px solid #FFFFFF;
    filter: blur(5px);
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(30%, -30%);
    animation: squishLarge 8s ease-in-out infinite;
}

.ellipse.small {
    width: 150px;
    height: 150px;
    background: linear-gradient( 135deg, #9747FF 100%, #391C5F 100% );
    border: 1px solid #FFFFFF;
    filter: blur(5px);
    position: absolute;
    bottom: 20%;
    right: 0%;
    transform: translate(-250%, 360%);
    animation: squishSmall 6s ease-in-out infinite;
}

.ellipse-1.large {
    width: 400px;
    height: 400px;
    border-radius: 362px;
    background: linear-gradient(43deg, #DC8B8F 14.37%, #7B4686 74.45%, #592266 94.47%);
    filter: blur(10px);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: squishLarge1 7s ease-in-out infinite;
}

.ellipse-1.small {
    border-radius: 282px;
    background: linear-gradient(180deg, #CB2C34 0%, #B13A9A 46.44%, #A440CC 75%, #9D44E6 87.5%, #9A45F2 93.75%, #9747FF 100%);
    filter: blur(10px);
    width: 350px;
    height: 350px;
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: squishSmall1 5s ease-in-out infinite;
}

@keyframes squishLarge {
    0% { transform: translate(30%, -30%) scale(1); }
    25% { transform: translate(30%, -30%) scale(1.05, 0.95); }
    50% { transform: translate(30%, -30%) scale(0.95, 1.05); }
    75% { transform: translate(30%, -30%) scale(1.02, 0.98); }
    100% { transform: translate(30%, -30%) scale(1); }
}

@keyframes squishSmall {
    0% { transform: translate(-250%, 360%) scale(1, 1) rotate(0deg); }
    33% { transform: translate(-250%, 360%) scale(1.1, 0.9) rotate(-3deg); }
    66% { transform: translate(-250%, 360%) scale(0.9, 1.1) rotate(3deg); }
    100% { transform: translate(-250%, 360%) scale(1, 1) rotate(0deg); }
}

@keyframes squishLarge1 {
    0% { transform: translate(-220%, 60%) scale(1, 1); }
    25% { transform: translate(-220%, 60%) scale(1.05, 0.95); }
    50% { transform: translate(-220%, 60%) scale(0.95, 1.05); }
    75% { transform: translate(-220%, 60%) scale(1.02, 0.98); }
    100% { transform: translate(-220%, 60%) scale(1, 1); }
}

@keyframes squishSmall1 {
    0% { transform: translate(-30%, 150%) scale(1, 1); }
    33% { transform: translate(-30%, 150%) scale(1.1, 0.9); }
    66% { transform: translate(-30%, 150%) scale(0.9, 1.1); }
    100% { transform: translate(-30%, 150%) scale(1, 1); }
}


/* Hero section */
.hero-section{
    height: 700px;
}

.hero-container{
    padding-top:110px ;
}

.hero-main-text h1:nth-child(1){
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.hero-main-text h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: -40px 0;
}

.hero-sub-text p{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 6px;
}

.hero-main-text span{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.5px;
    background: linear-gradient(89deg, #971DD4 63.77%, #23A4F5 76.11%, #85ACF1 89.57%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    position: relative;
}


/* Profile Section */
.profile-section{
    position: relative;
    height: 1000px;
    z-index: 1;
}

.profile-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.profile-card-wrapper a{
    text-decoration: none;
}

.profile-section h1{
    text-align: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 384px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 254, 254, 0.527);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
}

.profile-card:hover{
    transform: scale(1.05);
}

.profile-card img{
    width: 250px;
    height: 280px;
    padding-top: 20px;
    object-fit: cover;
}

.profile-desc{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
}

.profile-desc h6{
    margin: 0;
    font-size: 25px;
    color: black;
}

.profile-desc p {
    color: #883DB9;
    margin: 0 ;
    font-size: 16px;
}

/* Works Section */
.works-section{
    position: relative;
    height: auto;
    z-index: 1;
}

.works-card-wrapper{
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.works-section h1{
    text-align: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.works-card{
    display: flex;
    align-items: center;
    height: 450px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(213, 212, 212, 0.667);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    padding: 0 30px;
    gap: 50px;
    transition: transform 0.3s ease-out;
}


.works-card:hover{
    transform: scale(1.05);
}

.works-image{
    border-radius: 10px;
}

.works-card img{
    width: 50%;
    height: 90%;
    object-fit:fill;
    border-radius: 10px;
}

.work-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    margin-top: 30px;
}

.work-desc h6{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.work-desc p{
    color: #7B4686;
    font-size: 23px;
    letter-spacing: 1px;
}

.works-card .btn-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 70px;
}

.works-card a{
    width: fit-content;
}

.works-card button{
    font-family: 'Mouse Memoirs', sans-serif;
    width: 100%;
    border-radius: 20px;
    background: #9643AC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border: none;
    color: #FFF;
    font-size: 17px;
}

.works-card button i{
    margin-left: 5px;
}

.works-card button:hover{
    background: #971DD4;
    cursor: pointer;
}

/* Back to top button */
.back-to-top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    
    /* Enhanced styling */
    background: linear-gradient(145deg, 
    rgba(156, 71, 179, 0.95) 0%,    
    rgba(141, 53, 162, 0.95) 35%,   
    rgba(120, 45, 138, 0.95) 100% 
    );
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    
    /* Effects */
    box-shadow: 0 4px 15px rgba(107, 0, 161, 0.3),
                inset 0 2px 5px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    /* Position */
    position: fixed;
    bottom: 30px;
    right: 29px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.back-to-top-btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 4px 12px rgba(107, 0, 161, 0.5);
    background: linear-gradient(145deg, 
        rgba(175, 0, 158, 0.95) 0%,   
        rgba(141, 53, 162, 0.95) 50%, 
        rgba(107, 0, 161, 0.95) 100%  
    );
}

.back-to-top-btn i {
    font-size: 20px;
}